example/outputs/
plots/
example/sequence-to-function/figure_2d.png
ml-assisted-aav-engineering/data/Excel/directed_evolution_assessment_library/top_rank_enrichment_scores.xlsx
ml-assisted-aav-engineering/data/Excel/ml_assessment_library/EVAAV/top_rank_enrichment_scores.xlsx